@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .shadow-xs {
    box-shadow: 0 0 0 1px rgb(0 0 0 / 5%);
  }
}

:root {
  margin: 0;
}

.form-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  border-color: #e2e8f0;
  border-width: 1px;
  padding: 0.5rem 1.75rem;
  font-size: 1rem;
  line-height: 1.5;
}


.form-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
  background-repeat: no-repeat;
  background-color: #fff;
  border-color: #e2e8f0;
  border-width: 1px;
  border-radius: 0.25rem;
  padding: 0.5rem 2.5rem 0.5rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  background-position: right 0.5rem center;
  background-size: 1.5em 1.5em;
}